<div class="col-md-4 py-2" style="">
          <div class="card"> <img class="card-img-top p-2 mx-auto img-fluid" src="../../../../Pictures/5c126eaf4821beeb9995f773b13be311.webp" alt="Card image cap" style="	min-height: 100px;	min-width: 100px;	max-width: 200px;	max-height: 200px;">
            <div class="card-body">
              <h5>{{filmes.filme.title}} <br/>
              {{filmes.filme.descricao}}
              </h5>
              <div class="row">
                <div class="col-md-4 my-2">
                  <h3 class="display-4">&nbsp;R$<br></h3>
                </div>
                <div class="col-md-8
 my-2">
                  <h3 class="display-4 d-flex flex-row align-items-center justify-content-center">&nbsp;{{filmes.filme.preco}}<br></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pt-3 pb-3">
                  <h6 contenteditable="true" class="flex-column d-flex align-items-center">Duração {{filmes.filme.duracao}}</h6>
                </div>
                <div class="col-md-8
 my-2">
                  <h4 class="pt-2 pb-2">&nbsp;R$<br></h4>
                </div>
              </div> <a href="#" class="btn btn-primary mx-1"><i class="fa fa-cart-arrow-down fa-fw"></i>&nbsp;Comprar</a><a href="#" class="btn btn-lg mx-1 btn-secondary d-inline-flex px-1" style="	max-width: 50px;"><i class="fa fa-heart fa-fw text-danger"></i></a>
            </div>
            <a href="/filmes">
              <div class="card-img-overlay h-50">
                <h5 class="">
                  <span class="badge badge-secondary">{{filmes.filme.ano}}</span>
                </h5>
              </div>
            </a>
          </div>
        </div>